$main_color: #68b236;
$light_green: #90d065;
$white: #ffffff;
$light_black: #333333;
$grey_background: #f2f2f2;
$grey_middle: #8a8a8a;
$text_color: #8c8b8d;
$grey_middle_light: #adadad;
$grey_light: #e2e2e2;
$grey_light2: #a4a4a4;
$grey_light3: #f8f8f8;
$grey_light4: #f0f5f9;
$grey_light5: #e6e6e6;
$grey_light6: #d3d3d3;
$grey: #c3c3c3;
$grey-table: #eaeaea;
$red: #e84848;
$orange: #e99b53;
$modal_background_black: #00000065;
$article_text: #8c8b8d;
