.article_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  @media (max-width: 991px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    color: $light_black;
    margin: 0 0 16px 0;
    width: 100%;
    span {
      color: $main_color;
      margin: 0;
    }
  }
  h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $main_color;
    margin: 24px 0 12px 0;
    width: 100%;
  }
  .article_txt_box {
    width: 100%;
    ul li,
    ol li {
      font-size: 14px;
      font-weight: 400;
      line-height: 160%;
      color: $article_text;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 160%;
      color: $article_text;
      margin: 0 0 12px 0;
    }
    .table-box {
      @media (max-width: 991px) {
        overflow-y: hidden;
        overflow-x: scroll;
        table {
          tr,
          td,
          th {
            padding: 8px;
            font-size: 12px;
          }
        }
      }
    }
    table {
      width: 100%;
      border-collapse: collapse;

      tr,
      th,
      td {
        border-color: $article_text;
        color: $article_text;
        text-align: left;
        padding: 12px;
        border: 1px solid $article_text;
      }
    }
  }
  .article_img_txt_box {
    &--img {
      display: flex;
      flex-direction: column;
      width: 49%;
      margin-right: 1%;
      margin-bottom: 24px;
      img {
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }
    &--text {
      display: flex;
      flex-direction: column;
      width: 49%;
      margin-left: 1%;
      margin-bottom: 24px;
      h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        color: $light_black;
        text-transform: uppercase;
        margin: 0 0 16px 0;
        span {
          color: $main_color;
          margin: 0;
        }
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
        color: $article_text;
        margin: 0 0 12px 0;
      }
    }
  }
  .article_txt_img_box {
    &--img {
      display: flex;
      flex-direction: column;
      width: 49%;
      margin-left: 1%;
      margin-bottom: 24px;
      img {
        object-fit: cover;
        width: 100%;
      }
    }
    &--text {
      display: flex;
      flex-direction: column;
      width: 49%;
      margin-right: 1%;
      margin-bottom: 24px;
      h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        color: $light_black;
        text-transform: uppercase;
        margin: 0 0 16px 0;
        span {
          color: $main_color;
          margin: 0;
        }
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
        color: $article_text;
        margin: 0 0 12px 0;
      }
    }
  }
  .article_small_img_box {
    &--img {
      width: 24%;
      margin-right: 1%;
      margin-top: 24px;
      margin-bottom: 24px;
      &:last-of-type {
        margin-right: 0;
      }
      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }
  .article_txt_img_img_box {
    &--text {
      width: 100%;
      margin-bottom: 24px;
      h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        color: $light_black;
        text-transform: uppercase;
        margin: 0 0 16px 0;
        span {
          color: $main_color;
          margin: 0;
        }
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
        color: $article_text;
        margin: 0 0 12px 0;
      }
    }
    &__images {
      display: flex;
      flex-direction: row;
      margin-bottom: 24px;
      &--img {
        width: 48%;
        margin-right: 1%;
        margin-bottom: 16px;
        &:last-of-type {
          margin-left: 1%;
        }
        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .article_container {
    h2 {
      font-size: 20px;
      line-height: 28px;
    }
    .article_img_txt_box {
      &--img {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
      }
      &--text {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        h2 {
          font-size: 20px;
          line-height: 38px;
        }
        p {
          font-size: 14px;
          line-height: 160%;
        }
      }
    }
    .article_txt_img_box {
      margin-bottom: 24px;
      &--img {
        order: 2;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
      }
      &--text {
        order: 1;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        h2 {
          font-size: 20px;
          line-height: 38px;
        }
        p {
          font-size: 14px;
          line-height: 160%;
        }
      }
    }
    .article_small_img_box {
      &--img {
        width: 48%;
        margin-right: 1%;
        &:nth-of-type(2n) {
          margin-right: 0;
          margin-left: 1%;
        }
        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }
    .article_txt_img_img_box {
      margin-bottom: 24px;
      &--text {
        h2 {
          font-size: 20px;
          line-height: 38px;
        }
        p {
          font-size: 14px;
          line-height: 160%;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .article_container {
    .article_small_img_box {
      &--img {
        width: 100%;
        margin-right: 0;
        margin: 4px 0;
        &:nth-of-type(2n) {
          margin-right: 0;
          margin-left: 0;
        }
        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }
}
