#blog {
  h2 {
    position: relative;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: $light_black;
    margin: 0 auto 16px auto;
    z-index: 1;
    gap: 4px;
    text-align: center;
    span {
      color: $main_color;
      text-decoration: underline;
    }
    @media (max-width: 800px) {
      font-size: 20px;
    }
  }
}
