#popular_categories {
  position: relative;
  background-color: $grey_light3;
  padding-top: 54px;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;
  @media (max-width: 800px) {
    padding-top: 24px;
  }
  &::before {
    position: absolute;
    display: block;
    content: "";
    background-color: $grey_light3;
    left: -50vw;
    top: 0;
    width: 200vw;
    height: 100%;
    z-index: 0;
  }
  h2 {
    position: relative;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: $light_black;
    margin: 0 0 16px 0;
    z-index: 1;
    gap: 4px;
    @media (max-width: 800px) {
      font-size: 20px;
    }
    span {
      color: $main_color;
      text-decoration: underline;
    }
  }
  .popular-categories {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 49px;
    z-index: 1;
    padding-bottom: 48px;
    @media (max-width: 800px) {
      gap: 32px 24px;
    }
    &-slot {
      flex: 1 1 calc((100% - 2 * 49px) / 3);
      max-width: calc((100% - 2 * 49px) / 3);
      color: $light_black;
      text-decoration: none;
      margin-bottom: 24px;
      @media (max-width: 800px) {
        flex: 1 1 calc((100% - 24px) / 2);
        max-width: calc((100% - 24px) / 2);
      }
      &__img {
        width: 100%;
        height: 100%;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      &__text {
        h3 {
          font-size: 16px;
          color: $light_black;
          margin: 7px 0 0 0;
          @media (max-width: 800px) {
            font-size: 14px;
            line-height: 17px;
          }
        }
      }
      &:hover {
        h3 {
          color: $main_color;
        }
      }
    }
  }
}
